* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(179, 198, 255);
}

#wrapper {
    padding: 15px;
}

#wrapper form fieldset {
    padding: 25px 0px 25px 0px;
    border: 2px solid black;
}

#wrapper form fieldset #registration-cont {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper form fieldset label {
    color: green;
    font-weight: bold;
    margin-bottom: 2px;
}

#wrapper form fieldset #name {
    background-color: red;
}

#wrapper form fieldset #lastName {
    background-color: green;
}

#wrapper form fieldset input[type = "submit"] {
    background-color: green;
    color: grey;
    height: 25px;
    cursor: pointer;
}

#wrapper form fieldset input {
    margin-bottom: 18px;
    outline: none;
    padding-left: 2px;
}

#wrapper form fieldset textarea {
    height: 180px;
    width: 280px;
    resize: none;
    margin-bottom: 15px;
    outline: none;
    padding-left: 2px;
}

#wrapper form fieldset legend {
    text-transform: uppercase;
    color: green;
    font-weight: bold;
    font-size: 35px;
    padding-left: 10px;
}